.logo-fix{
    margin: 0 auto;
}
.navbar-fix{
    position: absolute;
    left: 50%;
    top: 120px;
    transform: translateX(-50%);
}
.nav-link{
    font-size: 20px;
    color: #bd2300;
    
    &:hover{
        color:rgb(245, 132, 132);
    }
}
.img-ajust{
    width: 100%;
} 
.banner{
    margin-top: 40px;
}
.carousel-item{
    height: 545px;
} 
.row-of-margin{/*REESCREVER MARGIN DO BOOTSTRAP*/
    margin: 0;
}
.col-ajust-padding{/*REESCREVER PADDING DO BOOTSTRAP*/
    padding-right: calc(var(--bs-gutter-x) * .6);
    padding-left: calc(var(--bs-gutter-x) * .4);
}
.header-destaques h1{
    font-size: 22px;
    color: #bd2300;
}
.line-dec{
    margin-top: 40px;
    width: 105px;
    height: 5px;
    background-color: #bd2300;
}
.featured-item{
    border-radius: 5px;
    border: 1px solid #eee;
    width: 338px;
    height: 338px;
}
.btn-card{
    width: 150px;
    height: 30px;
    background-color: #bd2300;
    margin: 0 auto;
    color: #fff;
}
.btna{
    display: block;
    text-decoration: none;
}
.info{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #bd2300;
}
.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
.owl-item :hover{
    margin-top: 2px;
}
.info {
    h4 {
        font-size: 1.2rem;
    }
}
/*Caroseul-style*/
.owl-item{
    width: 421px!important;
    height: 435px;
    margin-left: 10px;
    margin-right: 10px;

    &:hover{
        margin-top: 2px;
    }
}
.owl-theme {
    .owl-dots{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .owl-dot {
        outline: none;
    }
    .active span {
        background-color: #bd2300!important;
    }
    span {
        background-color: #aaa;
        width: 8px;
        height: 8px;
        display: inline-block;
        margin: 0px 5px;
        outline: none;
    }
}
.featured-items{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}
.owl-stage{
    width: 4000px!important;
}

/* Footer Style */
.footer {
	text-align: center;
    
    ul{
        padding: 0px;
        margin: 0px;
    }
    li {
        list-style: none;
        display: inline-block;
    }
    .logo img {
        max-width: 100%;
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .footer-menu {
        margin-bottom: 40px;
    
        ul li {
            margin: 0px 15px;
        }
        a {
            font-size: 13px;
            color: #000;
            text-transform: uppercase;
            transition: all 0.5s;

            &:hover {
                color: #bd2300;
                text-decoration: none;
            }
        }
    }
    .social-icons {
        margin-bottom: 60px;

        ul li {
            margin: 0px 10px;
        }
        a {
            width: 32px;
            height: 32px;
            color: #fff;
            background-color: #000;
            text-align: center;
            display: inline-block;
            line-height: 33px;
            border-radius: 50%;
            font-size: 13px;
            transition: all 0.5s;

            &:hover {
                background-color: #bd2300;
            }
        }
    }

}
/* Sub Footer Style */
.sub-footer {
	border-top: 1px solid #eee;
	text-align: center;

    p {
        font-size: 12px;
        color: #7a7a7a;
        line-height: 60px;
    }
    a {
        color: #bd2300;
        text-decoration: none;
    }
}
/*Email para Novidades*/
.bg-c{
    background-color: #bd2300;
    height: 200px;
}
.input-news{
    width: 35%;
    display: inline;
    border-color: #FFF;
}
.em-fix{
    display:flex;
    justify-content: center;
    padding: 10px;
}
.color-news{
    color: #FFF;
} 
.info-news{ 
    h4{
        padding-top: 35px;
    }
    h6{
        padding-top: 20px;
    }
}
.btn{
    margin-left: 20px;
    background-color: #bd2300;
    border-color: #FFF;
}
.btn-primary:hover{
    background-color: #bd2300!important;
    border-color: #FFF;
}
.news{
    margin-top: 60px;
}
.nav-item{
    cursor: pointer;
}
.err{
    display: flex;
    justify-content: center;
    font-style: italic;
    color: #F00;
}

/*RESPONSIVIDADE*/

@media(max-width: 1024px){
    .owl-item{
        width: 304px!important;
        margin: 5px;
        height: 345px;
    }
    .featured-item{
        width: 257px;
        border: none;
    }
    .carousel-item{
        height: 421px;
    }
}
@media(max-width: 993px){
    .navbar .navbar-brand {
        width: auto;
    }
    .navbar:after {
        display: none;
    }
    #navbarResponsive {
        z-index: 99999;
        position: absolute;
        top: 96px;
        width: 100%;
        text-align: center;
        background-color: rgba(165, 49, 49, 0.95);
        box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    }
    .navbar-dark .navbar-nav .nav-item {
        border-bottom: 1px solid #eee;
    }
    .navbar-dark .navbar-nav .nav-item:last-child {
        border-bottom: none;
    }
    .navbar-dark .navbar-nav .nav-link {
        padding: 15px 0px;
    }
    .fa-bars{
        color: #000;
    }
    .navbar-toggler{
        background-color: #bd2300;
        width: 56px;
        height: 50px;
    }
}
@media(max-width: 768px){
    /* .owl-stage{
        width: 900px!important;
    } */
    .item{
        width: 225px!important;
    }
    .owl-item{
        width: 223px!important;
        margin: 2px;
        height: 301px;
    }
    .img-fluid{
        width: 85%!important;
    }
    .img-f{
        width: 100%!important;
    }
    .info h4{
        font-size: 0.9rem;
       
    }
    .carousel-item{
        height: 317px;
    }
}
@media(max-width: 426px){
    .carousel-item{
        height: 175px;
    }
    .owl-item{
        width: 195px!important;
    }
    .item{
        width: 212px!important;
    }
    .featured-item{
        width: 226px;
    }
}
@media(max-width: 376px){
    .carousel-item{
        height: 155px;
    }
    .owl-item{
        width: 350px!important;
        padding: 20px;
        height: 400px;
    }
    .item{
        width: 344px!important;
    }
    .featured-item{
        width: 344px;
    }
    .info{
        width: 306px;
    }

}
@media(max-width: 326px){
    .owl-item{
        width: 292px!important;
        padding-left: 0;
    }
}