.container {
    width: 1320px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    &--center-fix-card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    } 
}
.navigation{
    display: flex;
    
    .menu{
        display: flex;
        justify-content: center;
        height: 50px;
        align-items: center;
        margin-left: 1000px;
        margin-top: auto;
        margin-bottom: auto;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
    
        &__list{
            font-size: 2.2rem;
        }
        &__item-list{
            float: left;
            list-style: none;
            margin-left: 10px;
            margin-right: 10px;
            color: $cl-base;
            
            &:hover{
                color: $cl-red;
            }
        }
    
    }  
}
.cars{
    &__banner{
        height: 700px;
    }
    &__card{
        width: 30%;
        float: left;
        margin: 0 auto;
        padding: 5px 5px 40px 5px;

        &--fix-card{
            height: 600px;
        }
        
        a{
            text-decoration: none;
            cursor: pointer;
        }
    }
   &__button{
       font-size: 2.2rem;
       width: 100vw;
       height: 30px;
       background-color: $cl-red;
       color: $cl-white;
       cursor: pointer;
       &:hover{
           background-color: green;
           color: $cl-white;
       }
       
       &--move-button{
       display: flex;
       justify-content: center;
       }
   }
}  
.img-fluid{
    max-width: 100%;
    max-height: 100%;
}