$color-font: #fff ;
$color-bg-default: #600097;
$color-bg-secondary: #a501c2;
$color-bg-test: #370255;
$color-bg-boxes: #fbcd4f;
$font-default: Arial, Helvetica, sans-serif;
$font-size-default: 1.6rem;
$font-size-menu: 1.9rem;
$font-ds: "DancingScript";



html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: $font-default;
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 4rem;
}

h2 {
    margin-top: 4rem;
}
nav a{
    text-decoration: none;
    color: $color-font;
    margin: 20px;
}

#root,
header,
section,
footer{
    display: block;
    float: left;
    width: 100%;
}
.container{
    display: flex;
    
    max-width: 90vw;
    margin: 0 auto;

}
#produtos{   
    background-color: #fbcd4f;
}

@import 'vitrine';
@import 'fonts';
@import 'header';
@import 'nav';
@import 'sobre';
@import 'catalogo';
@import 'contato';
@import 'animations';
@import 'responsividade';